body {
    background-color: black;
    font-size: 18px;

}


header{
  background-color: blue;
  padding: 20px 0;
  }
  
  .caixa{
      width: 940px;
      position: relative;
      margin: 0 auto;
  }
  
  #logo1{
  background-color: blue;
  }
  
  nav{
      position: absolute;
      top: 110px;
      right: 0;
  } 
  
  nav li{
      display: inline;
      color: black;
      margin: 0 0 0 15px;
  }
   
  nav a {
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 23px;
      text-decoration: none;
  }
  
    nav a:hover{
  color: rgb(253, 0, 0);
  text-decoration: underline;
    }

#banner{

    width: 100%;

}

.titulo-principal {
  padding: 20px;
  text-align: center;
  font-size: 32px;
  width: 100%;
  background-color:blue ;
  color: #000000;

}

.principal{
    background: #000000;
    padding: 30px;
    margin-top: 10px;

}

p {
    font-size: 20px;
    text-align: center;
    color: rgb(26, 189, 194);
    padding: 10px;
    
}
 h1{
    color: rgb(29, 189, 194);
    text-align: center;
    background-color:blue;
    text-decoration: bold;
    font-size: 30px;
    margin-bottom: 20px;

    
 }

 #missão {

font-size: 20px;

    
 }
  em strong{
    color: red;
 }

 h2{
     color: rgb(29, 189, 194);
    text-align: center;
    font-size: 25px;
    background-color:blue;
 }  
   
    ul {
      display: inline-block;
      vertical-align: top;
      width: 20%;
      margin-right: 15%;
      color: rgb(29, 189, 194);
  }
    
   

   .beneficios{
    background-color: rgb(0, 0, 0);
    padding: 10%;
     color: rgb(29, 189, 194);
     font-size: 20px;
   }
    .itens{
      font-style: italic;
      color: rgb(29, 189, 194);
    }

    #imgen {

width: 50%;
    }


footer{
    text-align: center;
    padding: 40px 0;
  }

  .copy {
      font-size: 13px;
      margin-top: 20px;
  }



      
      
    